---
title: "Clases de segundo año"
layout: "base.njk"
seccion: "2do Año"
---

<main>
  <h1 class="page-title">Clases de 2do año</h1>
  <article>
    <header>Áreas</header>
    <div class="grid">
      {% for pagina in paginas %}
        {% if pagina.title === seccion %}
          {% for paginas in pagina.paginas %}
            <a href="{{ paginas.url | url}}" role="button">{{paginas.title}}</a>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </article>
</main>