<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/css/pico.css" | url }}">
  <link rel="stylesheet" href="{{ "/assets/css/github-markdown.css" | url }}">
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | url }}">
  <title>{{ title }}</title>
  <style>

  </style>
</head>
<body class="container">
  <header>
    <a href="/">
      <svg width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
        <path d="M9 22V12h6v10"></path>
      </svg>
    </a>
  </header>
  {{ content | safe }}
</body>
</html>