---
title: "Clases de primer año"
layout: "base.njk"
seccion: "1er Año"
---

<main>
  <h1>clases de 1er año</h1>
  {% for pagina in paginas %}
    {% if pagina.title === seccion %}
      {% for paginas in pagina.paginas %}
        <a href="{{ paginas.url | url}}">{{paginas.title}}</a>
      {% endfor %}
    {% endif %}
  {% endfor %}
</main>