---
permalink: "admin/config.yml"
---
backend:
  name: github
  repo: Eliezer516/clases
  branch: main

media_folder: "src/assets/images"


collections:  
{% for data in areas %}
  - name: "{{ data.seccion}}-{{data.area}}"
    label: "{{ data.seccion}} - {{data.area}}"
    folder: "src/clases"
    create: true
    filter: {field: "sveltiafilter", value: "{{data.seccion}}-{{data.area}}"}
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Encuentro", name: "encuentro", widget: "string" }
      - { label: "Clase", name: "clase", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "filtro", name: "sveltiafilter", widget: "hidden", default: "{{data.seccion}}-{{data.area}}"}
      - { label: "Seccion", name: "seccion", widget: "hidden", default: "{{data.seccion}}"}
      - { label: "Area", name: "area", widget: "hidden", default: "{{data.area}}"}
{% endfor %}
