---
pagination:
  data: collections.clases
  size: 1
  alias: seccion
permalink: "{{ seccion.seccion }}/{{ seccion.area }}/"
layout: "base.njk"
eleventyComputed:
  title: "Clases de {{ seccion.title }}"
---

<h2>Área: {{ seccion.title }}</h2>

{% for pagina in seccion.paginas | reverse %}
		<a href="{{pagina.url}}" class="contrast">
			<article>
				<header class="post-header" style="text-align: left;">
					<span><b>Fecha:</b> {{ pagina.date | formatDate }}</span>
					<span><b>Encuentro:</b> {{ pagina.data.encuentro }}</span>
					<span><b>Clase:</b> {{ pagina.data.clase }}</span>
				</header>
				<h3>{{ pagina.data.title }}</h3>
			</article>
		</a>
{% endfor %}