⁰
---
pagination:
  data: collections.clases
  size: 1
  alias: seccion
permalink: "{{ seccion.seccion }}/{{ seccion.area }}/"
layout: "base.njk"
eleventyComputed:
  title: "Clases de {{ seccion.title }}"
---

<h2>Área: {{ seccion.title }}</h2>

{% for pagina in seccion.paginas | reverse %}
    <article>
        <a href="{{pagina.url}}"><h3>{{ pagina.data.title }}</h3></a>
    </article>
{% endfor %}