---
layout: "base.njk"
title: "Inicio"
---

<main>
  <h1>Prof. yonaiker Barreto</h1>
  <article>
    <header>Secciones</header>
    <div class="grid">
      {% for pagina in paginas %}
        <a href="{{ pagina.url | url }}" role="button">{{ pagina.title }}</a>
      {% endfor %}
    </div>
  </article>
</main>