---
layout: "base.njk"
---

<main class="home">
  <h1 class="home-title">Prof. yonaiker Barreto</h1>
  <h2 class="home-subtitle">Secciones</h2>
  <div class="secciones">
    {% for pagina in paginas %}
      <a href="{{ pagina.url | url }}" class="seccion button">{{ pagina.title }}</a>
    {% endfor %}
  </div>
</main>