---
pagination:
  data: paginas
  size: 1
  alias: secciones
permalink: "{{ secciones.name | url }}/"
layout: "base.njk"
eleventyComputed:
  title: "Areas de {{ secciones.title }}"
  metadata:
    title: "Areas de {{ secciones.title }}"
    img: "https://v1.screenshot.11ty.dev/{{ meta.baseUrl | formatUrl}}{{ page.url | formatUrl }}/opengraph/"
---

<main>
  <h1 class="page-title">Clases de {{ secciones.title }}</h1>
  <article>
    <header>Áreas</header>
    <div class="grid">
      {% for pagina in paginas %}
        {% if pagina.title === secciones.title %}
          {% for paginas in pagina.paginas %}
            <a href="/{{ secciones.name | url}}/{{ paginas.name | url}}" role="button">{{paginas.title}}</a>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </article>
</main>